.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-row {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 850px;
  min-width: 100px;
}
.coin {
  display: flex;
  align-items: center;
  padding: 24px;
  min-width: 300px;
  font-size: 12px;
  left: 0;
}
.coin img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  font-size: 12px;
}
.coin h1 {
  font-size: 12px;
  width: 120px;
}
.coin-symbol {
  text-transform: uppercase;
  width: 25%;
  padding-left: 25px;
}

.coin-data {
  display: flex;
  padding-left: 30px;
}
.coin-total-supply {
  display: flex;
  padding-right: 40px;
  min-width: 120px;
}
.coin-price {
  width: 30%;
  display: flex;
  width: 130px;
  padding-left: 30px;
}
.coin-marketcap {
  width: 50%;
  display: flex;
}
.coin-percent {
  padding-left: 85px;
  min-width: 200px;
}
.red {
  color: #f00606;
}
.green {
  color: #11d811;
}

@media only screen and (max-width: 480px) {
  .coin-row {
    height: 100px;
  }
  .coin-symbol {
    display: none;
  }
  .coin-total-supply {
    padding-left: 25px;
  }
  .coin-price {
    padding-left: 40px;
  }
  .coin-percent {
    padding-right: 40px;
  }
  .coin-row {
    margin-left: 100px;
  }
  .coin img {
    margin-left: 190px;
  }

  .coin-marketcap {
    margin-right: 0px;
  }
}
